@font-face{
  font-family: "eurostile";
  src: url('./assets/Eurofont.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
@font-face{
  font-family: "exo2";
  src: url('./assets/exofont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
body {
  font-family: 'exo2',Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
}
body h1, body h2, body ul{
  font-family: "eurostile",Verdana, Arial, Helvetica, sans-serif;
}
body footer {
  background-color: #3f3f3f;
  font-family: "eurostile",Verdana, Arial, Helvetica, sans-serif;
  color: white;
  height: 2em;
  line-height: 2em;
  text-align: right;
}
ul {
  list-style: none;
}
nav ul {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 0px;
}
nav li {
  display: inline-block;
  width: 33%;
  height: 3em;
  line-height: 3em;
}
nav a {
  text-decoration: none;
  color: black;
}
footer a {
  text-decoration: none;
  color: white;
}
nav a:hover, footer a:hover {
  color: #fc0f00;
}
main img {
  display: block;
  margin: auto;
}
article {
  width: 90%;
  margin: auto;
  padding: 1em 0 1em 0;
}
h2 {
  text-align: center;
}
.results {
  background-color: #f7f7f7;
}
table {
  border: 1px solid black;
  margin: auto;
}
